.titulocarrin{
    margin: 20px;
    font-size: 20px;
}

.continuar{
    color: black;
    font-size: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: end;
    margin-right: 40px;
    
}


.Itemscarrin{
    height: 200px;
    width: 1000px;
    background-color: blueviolet;
    display: flex;
}
